<div class="row" class="registro" id="registro1">
    <div class="col">
      <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Primer apellido" aria-label="Primer apellido">
    </div>
  </div> 
  <form class="row g-3" class="registro">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Dirección</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Dirección de envio">
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">Provincia</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">Pais</label>
      <select id="inputState" class="form-select">
        <option selected></option>
        <option>España</option>
        <option>Francia</option>
        <option>Portugal</option>
        <option>Alemania</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">CP</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Política de privacidad
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-secondary">Registrar</button>
    </div>
  </form>